@page "/Coaches-Dashboard"

@attribute [Authorize]
@layout MainLayout;


<PageTitle>Dashboard</PageTitle>

<AuthorizeView>
    <Authorized>
        
    </Authorized>

    <NotAuthorized>
        <p>Please log in to see this page</p>
    </NotAuthorized>
</AuthorizeView>




