@page "/Coaches-Dashboard"

@attribute [Authorize(Roles = "Coach")]
@layout MainLayout;


<PageTitle>Dashboard</PageTitle>

<AuthorizeView>
    <Authorized>
        <RadzenStack Style="width: 100%; background-color: red; ">

        </RadzenStack>
    </Authorized>

    <NotAuthorized>
        <p>You Must be a Coach to view this page</p>
    </NotAuthorized>
</AuthorizeView>




