@page "/Dashboard"

@attribute [Authorize]
@layout MainLayout;


@inject HttpClient Http;
@inject AuthenticationStateProvider AuthProvider;



@using Microsoft.AspNetCore.Authorization
@using ProServ.Client.Controllers;
@using ProServ.Shared.Models.UserInfo;
@using Blazored.LocalStorage;
@using System.Net.Http.Headers;
@using System.Diagnostics;





<PageTitle>Dashboard</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Dashboard</h1>

        <h3>Welcome, AJ</h3>
        

        <div class="dashboard-container">
            <div class="dashboard-workouts">
                <RadzenCard style="border-radius: 25px;">
                    <h3>Workouts</h3>
                    <p>Workouts go here</p>

                </RadzenCard>


            </div>
            <div class="dashboard-control-center">

                <div>
                    <h3>My Info</h3>
                    <br />
                </div>
                <div class="dashboard-second-row">


                    <RadzenCard style="border-radius: 25px; width: 40%;">
                        <div class="mileage-stack">
                            <h4>This Weeks Mileage</h4>
                            <h4>@_currentMileage / @_goalMileage</h4>

                        </div>
                        <RadzenProgressBar Value="@_currentMileage" Max="@_goalMileage" ShowValue="false" />

                        <div class="workout-score">
                            <h3>This week's score</h3>
                            <RadzenChart>
                                <RadzenPieSeries Data="@workouts" Title="% Score" CategoryProperty="status" ValueProperty="percent">
                                    <RadzenLegend Visible="false" />
                                </RadzenPieSeries>
                            </RadzenChart>
                        </div>
                    </RadzenCard>
                    <RadzenCard style="border-radius: 25px; width: 60%;">
                        <div class="workout-calendar">
                            <h3> Calendar</h3>
                            <RadzenScheduler style="height: 80%;" @ref=@_scheduler SlotRender=@OnSlotRender TItem="WorkoutDate" Data=@workoutDates StartProperty="Start" EndProperty="End" TextProperty="Text">

                                <RadzenMonthView />
                                <RadzenWeekView />
                                <RadzenDayView />

                            </RadzenScheduler>
                        </div>
                    </RadzenCard>
                </div>
            </div>
        </div>
    </Authorized>

    <NotAuthorized>
        <p>Please log in to see this page</p>
    </NotAuthorized>
</AuthorizeView>




