@page "/Register"
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject ILocalStorageService localStorage;
@inject AuthenticationStateProvider AuthProvider;

@layout EmptyLayout
@using System.Text.RegularExpressions;

@using ProServ.Shared.Models.NET_CORE_USER;
@using ProServ.Shared.Models.UserInfo;

<PageTitle>Register</PageTitle>
<div class="register-container">
    
    @if(this._registerStep == 1)
    {
        <RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
            <RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
               <div class="register-step-1">
                   <div>
                        <p class="text-3xl text-start font-bold">Start your account as...</p>
                        <p class="text-start font-normal text-base">Already have an account? <a class="underline text-blue-500 cursor-pointer">Sign In</a></p>
                   </div>
                    <div class="flex-start flex-row items-center gap-4 grid grid-cols-2 grid-auto-rows: minmax(450px, auto);">
                        <div class="w-96 max-w-xs h-full"
                           >
                            <RadzenCard Style="border-radius: 12px; height: 100%;">
                               <RadzenStack JustifyContent="JustifyContent.SpaceBetween" Style="height: 100%;">
                                    <div>
                                        <p class="text-3xl text-center font-semibold pt-6 pb-4">ProServ Athlete</p>
                                        <ul class="list-disc pb-8 pl-4">
                                            <li class="text-lg font-medium pb-4"> Absolutely Free! </li>
                                        </ul>

                                    </div>
                                    <RadzenButton Size="ButtonSize.Large" style="width: 100%;" Click="@RegisterAsAthlete" >Register As Athlete</RadzenButton>
                               </RadzenStack>
                            </RadzenCard>
                        </div>

                        <div class=" h-full w-96 max-w-xs ">
                            <RadzenCard Style="border-radius: 12px; height: 100%;">
                                <RadzenStack JustifyContent="JustifyContent.SpaceBetween" Style="height: 100%;">
                                    <div>
                                        <p class="text-3xl text-center font-semibold pt-6 pb-4">ProServ Coach</p>
                                        <ul class="list-disc pb-8 pl-4">
                                            <li class="text-lg font-medium pb-4"> Free 14 day trial </li>
                                            <li class="text-lg font-medium pb-4"> No credit card required </li>
                                            <li class="text-lg font-medium pb-4"> Get full experience of what it means to be a ProServ Coach</li>
                                        </ul>
                                    </div>
                                    <RadzenButton Size="ButtonSize.Large" style="width: 100%;" Click="@RegisterAsCoach" >Register As Coach</RadzenButton>
                                </RadzenStack>
                            </RadzenCard>
                        </div>
                    </div>
               </div>
            
            </RadzenStack>
        </RadzenStack>
    }
    else if(this._registerStep == 2)
    {
        <EditForm Model="registerUser" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
           
            <RadzenCard style="border-radius: 12px; padding: 2rem;">
                <div class="flex flex-center text-start flex-col max-w-lg gap-4">
                    <div>
                        @if(_isCoach == false)
                        {
                            <p class="text-xl font-bold">Create <span class="text-blue-500">Athlete</span> account</p>
                        }
                        else
                        {
                            <p class="text-3xl mb-4 font-bold">Create <span class="text-blue-500">Coach</span> account</p>
                            <p class="mb-2">Creating a ProServ coach account will automatically start your 14-day free trial period. </p>
                            <p class="text-base font-semibold">No credit card is required unless you wish to continue using your coaching account and all its features</p>
                        }   
                    </div>         
                    <RadzenStack AlignItems="AlignItems.Start" Gap="0.1rem">
                        <p class="text-base font-semibold">Email</p>
                        <RadzenTextBox @bind-Value="registerUser.Email" Style="width: 100%;" />
                        <ValidationMessage For="(() => registerUser.Email)" />
                    </RadzenStack>
                    <RadzenStack Orientation="Orientation.Horizontal" Style="width: 100%;" >
                        <RadzenStack AlignItems="AlignItems.Start" Gap="0.1rem" style="width: 100%;">
                            <p class="text-base font-semibold">First Name</p>
                            <RadzenTextBox @bind-Value="registerUser.FirstName" Style="width: 100%;" />
                            <ValidationMessage For="(() => registerUser.FirstName)" />
                        </RadzenStack>
                        <RadzenStack AlignItems="AlignItems.Start" Gap="0.1rem" style="width: 100%;">
                            <p class="text-base font-semibold">Last Name</p>
                            <RadzenTextBox @bind-Value="registerUser.LastName" Style="width: 100%;" />
                            <ValidationMessage For="(() => registerUser.LastName)" />
                        </RadzenStack>
                    </RadzenStack>
                    <RadzenStack AlignItems="AlignItems.Start" Gap="0.1rem">
                        <p class="text-base font-semibold">Password</p>
                        <RadzenTextBox @bind-Value="registerUser.Password" Style="width: 100%;" />
                        <ValidationMessage For="(() => registerUser.Password)" />
                    </RadzenStack>
                    <RadzenStack AlignItems="AlignItems.Start" Gap="0.1rem">
                        <p class="text-base font-semibold">Confirm Password</p>
                        <RadzenTextBox @bind-Value="registerUser.ConfirmPassword" Style="width: 100%;" />
                        <ValidationMessage For="(() => registerUser.ConfirmPassword)" />
                    </RadzenStack>

                    <p>WE DONT HAVE A PRIVACY POLICY YET</p>

                    <RadzenButton Size="ButtonSize.Large" Text="Sign Up"  ButtonType="ButtonType.Submit"/>

                    <div class="spacer-vertical"/>

                    <p class="text-base font-bold text-center">Already have an account? <a class="underline text-blue-500 cursor-pointer">Sign In</a></p>
                    @if(this._isCoach)
                    {
                        <RadzenButton Text="Sign Up As Athlete" Style="width: fit-content; align-self: center;" ButtonStyle="ButtonStyle.Warning" Click="RegisterAsAthlete" />
                    }
                    else
                    {
                        <RadzenButton Text="Sign Up As Coach" Style="width: fit-content; align-self: center;" ButtonStyle="ButtonStyle.Warning" Click="RegisterAsCoach" />
                    }
                </div>
            </RadzenCard>
        </EditForm>
    }

</div>


@code {
    
    private void RegisterAsAthlete()
    {
        this._registerStep = 2;
        this._isCoach = false;
        StateHasChanged();
    }

    private void RegisterAsCoach()
    {
        this._registerStep = 2;
        this._isCoach = true;
        StateHasChanged();
    }
}

